@charset 'utf-8';

.flex {
    display: flex;

    &:not(.vertical) {
        flex-direction: row;
        &.reverse {
            flex-direction: row-reverse;
        }
    }
    &.vertical {
        flex-direction: col;
        &.reverse {
            flex-direction: col-reverse;
        }
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.start {
        justify-content: flex-start;
        &:not(.vertical) > * {
            margin-right: auto;
        }
        &.vertical > * {
            margin-bottom: auto;
        }
    }
    &.justify {
        justify-content: space-between;
    }
    &.end {
        justify-content: flex-end;
        &:not(.vertical) > * {
            margin-left: auto;
        }
        &.vertical > * {
            margin-left: auto;
        }
    }

    > .static {
        flex-basis: static;
    }
    @for $i from 1 through 24 {
        > .grow-#{$i} {
            flex-grow: $i 0 auto;
        }
    }
}
